.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}

.title {font-family: 'Raleway', sans-serif;}

.subtitle {
   letter-spacing: 10px;}

#hero {
  height: 50vh;
  object-fit: cover;
  background-color: blanchedalmond;
}

.text-about {
  text-indent: 50px;
  text-align: justify;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about {
  height: 30vh;
}

#carouselExampleIndicators {
  height: 200vh;
}